.section1{padding-top: 70pt;}
.container{max-width: 1440px; height: 100%; margin: 0 auto; padding: 50px 20px; box-sizing: border-box;}

.text_box{box-sizing: border-box;}
.text_box h2{font-size: 26px; font-weight: bold; line-height: 26px;}
.text_box ul{display: flex; align-items: center; margin-top: 10px; }
.text_box ul li{}
.text_box ul li .user_img{width: 30px;height: 30px;}
.text_box ul li .user_img img{width: 100%;height: 100%;object-fit: cover; border-radius: 5px;}
.text_box ul li em{margin-left: 10px; font-size: 16px;}
.text_box ul li strong{margin-left: 20px; font-weight: 500; font-size: 16px;}

.line{display: block; width: 100%;height: 1px; background: #ccc; margin: 20px 0;}

.movie{width: 100%;height: 600px; background: #555;}

.sub_title{display: flex; justify-content: space-between; align-items: flex-end;}

.heartIcon{color: #ccc; cursor: pointer; margin-right: 5px; transition: all 0.2s;}
.heartIcon.active{color: red;}

.input_box{position: relative; padding:0 0 40px; }
.input_box textarea{width: 100%;resize: none; padding: 5px; box-sizing: border-box; border-radius: 5px;}
.input_box textarea:focus { outline: none; }
.input_box button{position: absolute; bottom: 0; right: 0; font-size: 14px; font-weight: 500; padding: 5px 10px; border: 1px solid #555; background: #fff; border-radius: 5px; transition: all 0.3s; cursor: pointer;}
.input_box button:hover{color: #fff; background: #000;}

.comment_wrap{}
.comment_wrap ul{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.comment_wrap ul li{width: 100%;  border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding: 20px 0; box-sizing: border-box; margin-top: -1px;}

.comment{display: flex; justify-content: space-between; align-items: flex-end;}
.comment .comment_user{display: flex; align-items: flex-end;}
.comment .comment_user .img{width: 50px;height: 50px;}
.comment .comment_user .img img{width: 100%;height: 100%;object-fit: cover; border-radius: 5px;}
.comment .comment_user em{font-size: 16px; margin-left: 10px; line-height: 16px;}
.comment .comment_user p{font-size: 14px; line-height: 14px; margin-left: 10px;}

.comment_delete{}
.comment_delete button{padding: 2px 5px; background: #fff; border: 1px solid #ccc; border-radius: 5px; cursor: pointer;transition: all 0.2s;}
.comment_delete button:hover{background: #000; color: #fff;}

.comment_content{margin-top: 10px;}
.comment_content p{font-size: 16px; line-height: 16px;}

